<html>
	<head>
		<title> log in </title>
	</head>
	<body>
		<form id="form" name='form' action="/process">
			<input type="text" name="user" id="use" />
			<input type="submit" id="hit" />
		</form>
	</body>
	<script>	        
		/*var $j = jQuery.noConflict();
		$j(function(){
        	$j('#hit').click)(function(){

        	});
        });*/
    </script>
</html>
